.b-control {
  .clearFix();
  margin-bottom: 8px;
}

.b-contol__input {
  .reset();
  .box-sizing(border-box);
  width: 100%;
  height: 35px;
  line-height: 35px;
  .border-radius(5px);
  background-color: #fff;
  border: solid 1px #bbb;
  padding-left: 10px;
  outline: none;
  font-family: @Roboto;
  font-size: 16px;
  
}

.b-contol__col-1 {
  margin-bottom: 11px;
}

.b-contol__input:focus {
  border: solid 1px #ff791d;
  box-shadow: 0 0 0 1px #ff791d;
  outline: none;
}

.b-contol__select-multiple {
  .b-contol__input();
  height: auto;
  padding: 0;
  height: 135px;
}


.b-contol__error {
  color: red;
  font-size: 14px;
}

.b-contol__input_error,
.b-contol__input_error:focus {
  background: #fff0f0;
  border:  solid 1px #d72800;
  box-shadow: 0 0 0 1px #d72800;
}


.b-contol__r {
  color: #de5b01;
  font-style: normal;
}

.b-contol__textarea {
  background: red;
  .b-contol__input;
  height: 120px;
  line-height: 1.3;
  padding-top: 10px;

}

.b-contol__label {
  color: #414141;
  font-size: 16px;
}

.b-contol__radio {
  display: block;
  line-height: 23px;
  margin-bottom: 10px;
}

.b-contol__radio-t {
 // margin-left: 20px;
  color: #6f706b;
}

.b-control__t-lab
{
  width: 10%;
  display: inline-block;
  text-align: left;
}


.b-control__box-1 {
  display: inline-block;
  width: 50%;
}

.b-control__box-1_l {
  text-align: right;
}


input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + .b-contol__radio-t {

}

input[type="checkbox"] + .b-contol__radio-t:before {
  content: '';
  display:inline-block;
  width:23px;
  height:19px;
  margin:-2px 9px 0 0;
  vertical-align:middle;
  background:url("@{blockPath}/i-img/checkbox.png") 3px -33px no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + .b-contol__radio-t:before {
  background:url("@{blockPath}/i-img/checkbox.png")  3px 0 no-repeat;
  content: '';
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + .b-contol__radio-t {

}

input[type="radio"] + .b-contol__radio-t:before {
  content: '';
  display:inline-block;
  width:23px;
  height:23px;
  margin: -2px 9px 0 0;
  vertical-align:middle;
  background:url("@{blockPath}/i-img/radio.png") left top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + .b-contol__radio-t:before {
  background:url("@{blockPath}/i-img/radio.png")  0 -32px no-repeat;
  content: '';
}

/* ---- --- */

.b-control_type2 {
  margin-bottom: 15px;
}

.b-control_type2 .b-contol__col-1 {
  float: left;
  width: 206px;
  margin-bottom: 0;

}

.b-control_type2 .b-contol__col-2 {
  padding-left: 206px;
}

.b-control_type2 .b-contol__label {
  line-height: 35px;
}

/*--------------*/

.b-control_type_radio {

}

.b-control_type_radio .b-contol__radio {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 16px;
}


/*---| .b-control_type_3 |----------------------start----------------------------------------*/

.b-control_type_3 {

}

.b-control_type_3 .b-contol__col-1 {
  float: right;
}

.b-control_type_3 .b-contol__col-2 {
  padding-right: 152px
}



/*===| .b-control_type_3 |======================end==========================================*/

/*---| .b-control__time-interval |----------------------start----------------------------------------*/

.b-control__time-interval {

}

.b-control__time-interval .b-contol__input {
  width: 85%;
  -webkit-appearance : none;

}



/*===| .b-control__time-interval |======================end==========================================*/
