<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body>


<div class="b-page">
    <div class="b-page__wrap">
        {{> header }}

        <div id="k-buyer-form" class="b-wrapper ">
            <div class="b-content">

                <h2 class="b-title">Где мой заказ?</h2>

                <div data-bind="" class="b-box b-box__form">
                    <form data-bind="submit: submit" method="post">
                        <div  class="b-control b-control_type_3">
                            <div class="b-contol__col-1">
                                <a data-bind='click: submit' class="b-button b-button_d_2" href="">Показать</a>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value:orderNum" class="b-contol__input"
                                       placeholder="Укажите номер заказа">
                            </div>
                        </div>

                        <div data-bind="visible:!form()">
                            <p data-bind="text:delivStatus">Магазин принял ваш заказ и формирует его.</p>

                            <p data-bind="text:delivTime">Примерное время доставки 17:45</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {{> footer}}
</div>

{{>counters}}
</body>
</html>

