<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body style="background: #ffffff">


<div  class="b-page">
    <div class="b-page__wrap">
        {{> header }}
        <div class="b-h-part b-h-part_buyer">
            <div class="b-wrapper b-h-part__inner">
                <div class="b-h-part__cnt">
                    <h2 class="b-h-part__title">Доставка за 2 часа </h2>

                    <p class="b-h-part__txt">Круглосуточно, быстро <br/>  и надежно!</p>

                    <div>
                        <a class="b-button" href="buyer-form.html">Узнать статус заказа</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-wrapper" >
            <div class="b-content">
                <h2 class="b-title">5 слагаемых удачной покупки!</h2>
                <div class="b-text">
                    Служба доставки Deliv.me – современный сервис, для тех, кто часто делает покупки в Интернете. <br/>
                    Все больше людей выбирают Deliv.me, потому что это...
                </div>
                <section class="b-terms">
                    <div class="b-terms__term">
                        <div class="b-terms__num">1</div>
                        <div class="b-terms__how">Легко!</div>
                        <div class="b-terms__txt">
                            Процедура оформления доставки в системе Deliv.me займет у вас
                            пару минут.
                        </div>
                    </div>
                    <div class="b-terms__term">
                        <div class="b-terms__num">2</div>
                        <div class="b-terms__how">Быстро!</div>
                        <div class="b-terms__txt">
                            Скорость доставки изменит ваше представление об удобстве покупок
                            в Интернете: закажите и получите свой заказ уже через  пару часов.
                        </div>
                    </div>
                    <div class="b-terms__term">
                        <div class="b-terms__num">3</div>
                        <div class="b-terms__how">Удобно!</div>
                        <div class="b-terms__txt">
                            Доставка осуществляется круглосуточно и ежедневно абсолютно
                            во все районы города!
                        </div>
                    </div>
                    <div class="b-terms__term">
                        <div class="b-terms__num">4</div>
                        <div class="b-terms__how">Надежно!</div>
                        <div class="b-terms__txt">
                            У нас работают только добросовестные курьеры, поэтому мы уверены в том, что ваш заказ доставят вовремя, в целости и сохранности.
                        </div>
                    </div>
                    <div class="b-terms__term">
                        <div class="b-terms__num">5</div>
                        <div class="b-terms__how">Все и сразу!</div>
                        <div class="b-terms__txt">
                            Если вы покупаете через Интернет мебель, мы готовы предложить вам услуги по подъему на этаж, распаковке и сбору доставленных товаров.
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>
    {{> footer}}
</div>


<script src="publish/script.js"></script>
{{>counters}}
</body>
</html>

