<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{>head-part}}
</head>
<body style="background: #ffffff">


<div class="b-page">
    <div class="b-page__wrap">
        {{> header }}
        <div class="b-h-part">
            <div class="b-wrapper b-h-part__inner">
                <div class="b-h-part__cnt">
                    <h2 class="b-h-part__title">Наш принцип –</h2>

                    <p class="b-h-part__txt">ответственное отношение <br/> к доставке </p>

                    <div>
                        <a class="b-button" href="client-form.html">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-wrapper">
            <div class="b-content">
                <div class="b-text b-text_why">
                    <h2 class="b-text__h"><span class="b-text__u">Почему</span> <span class="b-text__c">Deliv.me?</span></h2>

                    <p class="b-text__p">
                        Deliv.me&nbsp;&mdash; актуальное решение для успешной работы службы доставки.
                        <br/>
                        С&nbsp;помощью сервиса вы&nbsp;сможете организовать работу с&nbsp;клиентами и&nbsp;курьерами на&nbsp;новом уровне.
                    </p>
                </div>
                <section class="b-cnt b-cnt_client">
                    <div class="b-cnt__el b-cnt__el_19">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Готовое решение</h3>

                            <p class="b-cnt__el-p">
                                Мы&nbsp;предлагаем готовую систему для автоматизации работы с&nbsp;клиентами
                                и&nbsp;курьерами. Теперь вам не&nbsp;нужно тратить время и&nbsp;деньги на&nbsp;разработку своего решения.
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_7">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Просто и удобно</h3>

                            <p class="b-cnt__el-p">
                                Мы&nbsp;создали интерфейс интуитивно понятным и&nbsp;простым, 
                                чтобы ваши сотрудники могли без проблем использовать его 
                                в&nbsp;работе, а&nbsp;вы&nbsp;не&nbsp;тратили ресурсы на&nbsp;обучение команды.
                            </p>
                        </div>
                    </div>
                    <!--div class="b-cnt__el b-cnt__el_9">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Экономия</h3>

                            <p class="b-cnt__el-p">
                                Вам не нужно держать штатного курьера и платить ему оклад. Сдельная форма сотрудничества
                                позволит
                                оптимизировать затраты.
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_10">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Охват</h3>

                            <p class="b-cnt__el-p">Мы расширяем ваши границы торговли! В любом из районов города у нас
                                есть несколько
                                курьеров, готовых выполнить заказ.</p>
                        </div>
                    </div-->
                    <div class="b-cnt__el b-cnt__el_11">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Для курьеров</h3>

                            <p class="b-cnt__el-p">Через мобильное приложение ваши курьеры будут получать
                                новые заказы, смогут найти кратчайший путь для доставки и&nbsp;составить список 
                                избранных компаний-клиентов.</p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_17">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Для диспетчеров</h3>

                            <p class="b-cnt__el-p">Управлять командой курьеров, начислять вознаграждения 
                                и&nbsp;штрафы, распределять заказы среди тех, кто находится 
                                ближе к&nbsp;заказчику позволяет наш сервис.</p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_13">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Контроль</h3>

                            <p class="b-cnt__el-p">С&nbsp;помощью решения вы&nbsp;получите достоверную информацию 
                                о&nbsp;статусе выполнения конкретного заказа в&nbsp;реальном 
                                времени и&nbsp;сможете сообщить ее&nbsp;клиенту.</p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_18">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Многопользовательская система</h3>

                            <p class="b-cnt__el-p">Мы&nbsp;не&nbsp;ограничиваем вас: по&nbsp;мере роста
                                команды вы&nbsp;можете создавать новые учетные 
                                записи для доступа в&nbsp;систему самостоятельно.</p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_14">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Аналитика</h3>

                            <p class="b-cnt__el-p">Система сохраняет подробную информацию по&nbsp;каждому клиенту 
                                (сумма и&nbsp;объем заказов, среднее время сбора заказов, среднее время получения курьером).</p>
                        </div>
                    </div>
                    <!--div class="b-cnt__el b-cnt__el_16">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Дополнительные услуги</h3>

                            <p class="b-cnt__el-p">Кроме доставки мы готовы предложить услуги по подъему груза,
                                распаковке и сбору.</p>
                        </div>
                    </div-->
                </section>

                <section class="b-brief b-brief_client b-wrapper">
                    <h2 class="b-brief__h">Как подключить систему Deliv.me?</h2>
                    <div class="b-brief__box-2">
                        <div class="b-brief__el b-brief__el_1">
                            <div class="b-brief__txt">
                                <b>Заполните заявку</b> на
                                подключение
                                системы Deliv.me.
                                Это буквально 5 минут!
                            </div>
                        </div>
                        <div class="b-brief__el b-brief__el_2">
                            <div class="b-brief__txt">
                                В течение 24 часов наш
                               <b> менеджер свяжется с вами</b>
                                для заключения договора
                                в удобное для вас время.
                            </div>
                        </div>
                        <div class="b-brief__el b-brief__el_3">
                            <div class="b-brief__txt">
                               <b> Заключите договор</b> сроком
                                на 1 год с автоматической
                                пролонгацией
                                в течение 7 дней.
                            </div>
                        </div>
                    </div>
                    <div class="b-brief__box">
                        <a class="b-button" href="client-form.html">Оставить заявку</a>
                    </div>
                </section>

            </div>

        </div>

    </div>
    {{> footer}}
</div>


<script src="publish/script.js"></script>

<script id="customMessageTemplate" type="text/html">
    <em style="background: red;" class="customMessage" data-bind='validationMessage: field'></em>
</script>
{{>counters}}
</body>
</html>

