<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body>


<div class="b-page">
    <div class="b-page__wrap">
        {{> header }}

        <div id="k-client-form"  class="b-wrapper">
            <div class="b-content">

                   <h2 data-bind="visible: form" class="b-title b-title_1">Заявка на подключение системы <span class="b-title__c">Deliv.me</span></h2>

                <div data-bind="visible: form" class="b-box b-box__form">
                    <form data-bind="submit: submit" method="post">
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Название компании: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value:company" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label  class="b-contol__label">Город: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value: city" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label  class="b-contol__label">E-mail: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input type="email" data-bind="value: email" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label  class="b-contol__label" >Телефон: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input id="phone" placeholder="8 ___ ___-__-__" data-bind="value: phone" class="b-contol__input" type="tel">
                            </div>
                        </div>
                        <!--div class="b-control b-control__time-interval">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Укажите время, когда вам можно позвонить:</label>
                            </div>
                            <div class="b-contol__col-2">

                                <div class="b-control__box-1">
                                    <label class="b-control__t-lab" >c</label><input data-bind="value: time1" type="time"  class="b-contol__input">
                                </div><div  class="b-control__box-1 b-control__box-1_l">
                                    <label class="b-control__t-lab">до</label><input data-bind="value: time2" type="time"   class="b-contol__input" >
                                </div>
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Укажите ссылку на ваш сайт: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value: site" class="b-contol__input">
                            </div>
                        </div>

                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label" >Среднюю стоимость посылки, заказанной у вас:  <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value:averageCost"  class="b-contol__input">
                            </div>
                        </div>

                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label" >Движок, на котором сделан сайт:</label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value:siteEngine" class="b-contol__input">
                            </div>
                        </div>

                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label" >Форму работы вашего магазина: </label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value : workingWay" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Банк, с которым вы сотрудничаете:</label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value : bank" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Если у вас есть какие то пожелания, укажите их: </label>
                            </div>
                            <div class="b-contol__col-2">
                                <textarea data-bind="value: wishes" class="b-contol__textarea"></textarea>
                            </div>
                        </div-->

                        <div class="b-box b-box_submit">
                            <a data-bind='click: submit' class="b-button b-button_d_2" href="">ОТПРАВИТЬ ЗАЯВКУ</a>
                        </div>

                    </form>
                </div>

                <div style="display: none" data-bind="visible: done" class="b-box b-box__form">
                    <div class="b-text">
                        <h2 class="b-title">Спасибо!</h2>
                        <p class="b-text__title">Ваша заявка успешно отправлена!</p>
                        <p class="b-text__p">В течение 24 часов наш менеджер свяжется с вами для заключения договора  в удобное для вас время. </p>
                        <p class="b-text__p">
                            Договор  заключается сроком на 1 год с автоматической пролонгацией, оформляется в течение 7 дней (и менее) – в зависимости от сложности работ по интеграции нашего сервиса в корзину на вашем сайте.
                        </p>

                    </div>
                </div>
            </div>

        </div>

    </div>
    {{> footer}}
</div>
{{>counters}}
</body>
</html>

