<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body>


<div class="b-page">
    <div class="b-page__wrap">
        {{> header }}

        <div id="k-contact-us-form"  class="b-wrapper">
            <div class="b-content">

                   <h2 data-bind="visible: form" class="b-title b-title_1">Обратная связь</h2>

                <div data-bind="visible: form" class="b-box b-box__form">
                    <form data-bind="submit: submit" method="post">
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label" class="">ФИО: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input data-bind="value:fio" class="b-contol__input">
                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label  class="b-contol__label">E-mail: <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <input type="email" data-bind="value: email" class="b-contol__input">

                            </div>
                        </div>
                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label  class="b-contol__label" >Телефон: </label>
                            </div>
                            <div class="b-contol__col-2">
                                <input id="phone" placeholder="8 ___ ___-__-__" data-bind="value: phone" class="b-contol__input" type="tel">
                            </div>
                        </div>


                        <div class="b-control">
                            <div class="b-contol__col-1">
                                <label class="b-contol__label">Сообщение <i class="b-contol__r">*</i></label>
                            </div>
                            <div class="b-contol__col-2">
                                <textarea data-bind="value: message"  class="b-contol__textarea"></textarea>
                            </div>
                        </div>

                        <div class="b-box b-box_submit">
                            <a data-bind='click: submit' class="b-button b-button_d_2" href="">ОТПРАВИТЬ</a>
                        </div>

                    </form>
                </div>

                <div style="display: none" data-bind="visible: done" class="b-box b-box__form">
                    <div class="b-text">
                        <h2 class="b-title">Спасибо!</h2>
                        <p class="b-text__title">Вашe сообщение успешно отправлено!</p>

                        <p class="b-text__p">Мы с вами свяжемся в течение 4-х часов.</p>


                    </div>
                </div>
            </div>

        </div>

    </div>
    {{> footer}}
</div>

{{>counters}}
</body>
</html>

