<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body style="background: #ffffff">


<div class="b-page">
    <div class="b-page__wrap">
        {{> header }}
        <div class="b-h-part b-h-part_curier">
            <div class="b-wrapper b-h-part__inner">
                <div class="b-h-part__cnt">
                    <h2 class="b-h-part__title">Станьте курьером!</h2>

                    <p class="b-h-part__txt">Предлагаем работу, <br/> не требующую много времени </p>

                    <div>
                        <a class="b-button" href="courier-form.html">Заполнить анкету</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-wrapper">
            <div class="b-content">
                <h2 class="b-title">Почему это вам подходит?</h2>
                <section class="b-cnt">
                    <div class="b-cnt__el b-cnt__el_1">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Возможность совмещения</h3>

                            <p class="b-cnt__el-p">
                                Школьник или студент, таксист или курьер, домохозяйка или пенсионер, наше предложение
                                адресовано вам! Проявите практичность и используйте возможность заработать! Сотрудничество с
                                нами легко совмещать с учебой или с основной работой.
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_2">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Неограниченный доход</h3>

                            <p class="b-cnt__el-p">Вы планируйте сами, сколько времени хотите потратить на работу и сколько за это
                                получить. Мы предоставляем возможность заработать от 3 000 до 30 000 рублей на любые потребности – от
                                телефона до квартиры.</p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_3">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Работа рядом с домом</h3>

                            <p class="b-cnt__el-p">
                                Вы существенно экономите деньги на проезд, так как мы предлагаем вам доставлять только те заказы,
                                которые вас ждут неподалеку.
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_4">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Посильная нагрузка</h3>

                            <p class="b-cnt__el-p">
                                Только вы определяете вес того, что будете доставлять. Если у вас есть права и личный автомобиль, то у
                                вас есть возможность зарабатывать сразу много. Если нет, то пара- тройка доставок заказов из интернет-
                                магазинов принесет вам, в итоге, ту же сумму.
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_5">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Удобные часы работы</h3>

                            <p class="b-cnt__el-p">
                                Мы уважаем ваши биоритмы. Мы не переучиваем сов в жаворонков, и наоборот. Время работы тоже выбираете
                                вы! Сова? Развозите ночью пиццу. Жаворонок – работайте днем. Предложений и вариантов масса!
                            </p>
                        </div>
                    </div>
                    <div class="b-cnt__el b-cnt__el_6">
                        <div class="b-cnt__el-arrw"></div>
                        <div class="b-cnt__el-inner">
                            <h3 class="b-cnt__el-h">Возможность зарабатывать больше!
                            </h3>

                            <p class="b-cnt__el-p">
                                Хотите получать больше? Зарабатывайте рейтинг! Будьте исполнительными и пунктуальными. Схема проста: чем
                                выше рейтинг, тем дороже час!
                            </p>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>
    <section class="b-apps">
        <div class="b-apps__inner b-wrapper">
            <div class="b-apps__phone"></div>
            <div class="b-apps__txt">
                <h3 class="b-apps__h">Процесс работы</h3>
                <ol class="b-apps__ol">
                    <li>Выбираете заказ</li>
                    <li>Доставляете его</li>
                    <li>Получаете 200 руб. за заказ</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="b-info">
        <div class="b-wrapper">
            <div class="b-info__col">
                <h3 class="b-info__h">Условия работы</h3>
                <ul class="b-info__list">
                    <li>Вы доставляете заказы.</li>
                    <li>Готовы уделять работе у нас не менее 2 часов в день.</li>
                    <li>Бережно относитесь к товару и укладываетесь в сроки доставки.</li>
                    <li>Вы вежливы, улыбчивы и получаете удовольствие от работы.</li>
                    <li>Клиенты довольны и мы достойно оплачиваем ваш труд.</li>
                </ul>
            </div>
            <div class="b-info__col">
                <div class="b-info__box">
                    <h3 class="b-info__h">схема работы</h3>
                    <ul class="b-info__list">
                        <li>Оплата услуг начисляется на ваш личный счет – на номер   мобильного телефона (до 3 000 рублей) или на банковскую карту  (от 3 000 рублей). </li>
                        <li>Мы заключаем с вами договор подряда.</li>

                        <li>Мы предоставляем вам гарантии в соответствии с гражданским  кодексом. </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="b-brief b-wrapper">
        <h2 class="b-brief__h">Как получить работу</h2>
        <div class="b-brief__box-2">
            <div class="b-brief__el b-brief__el_1">
                <div class="b-brief__txt">
                    <b>Заполните анкету</b> на сайте. <br/>
                    Это буквально 5 минут!
                </div>
            </div>
            <div class="b-brief__el b-brief__el_2">
                <div class="b-brief__txt">
                    Менеджер Deliv.me <b>свяжется <br/>
                    с вами по телефону.</b>
                </div>
            </div>
            <div class="b-brief__el b-brief__el_3">
                <div class="b-brief__txt">
                    <b>Получите</b> работу <br/>
                    с быстрым заработком!
                </div>
            </div>
        </div>
        <div class="b-brief__box">
            <a class="b-button" href="courier-form.html">Заполнить анкету</a>
        </div>
    </section>
    {{> footer}}
</div>


<script src="publish/script.js"></script>

<script id="customMessageTemplate" type="text/html">
    <em style="background: red;" class="customMessage" data-bind='validationMessage: field'></em>
</script>
{{>counters}}
</body>
</html>

