<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>



    {{>head-part}}
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://jquery-ui.googlecode.com/svn/tags/1.8.23/ui/i18n/jquery.ui.datepicker-ru.js"></script>
</head>
<body>


<div class="b-page">
<div id="k-courier-form" class="b-page__wrap">
{{> header }}

<div class="b-wrapper">
<div class="b-content">

<h2 class="b-title"></h2>
<section data-bind="progress: progress()" class="b-progress">
    <div class="b-progress__ins" style="background: #ffffff; border-bottom: 3px solid #acaca4">
        <div style="background: #ff791d;  height: 8px" class="b-progress__line" id="pr"></div>
        <div style="left: 10%" class="b-progress__point b-progress__point_active">
                            <span class="b-progress-txt">
                                Основные
                            данные
                            </span>
        </div>
        <div style="left: 36%" class="b-progress__point">
                            <span class="b-progress-txt">
                               Персональные данные
                            </span>
        </div>
        <div style="left:  61%" class="b-progress__point">
                           <span class="b-progress-txt">
                                Предпочтения по работе
                            </span>
        </div>

        <div style="left: 87%" class="b-progress__point">
                            <span class="b-progress-txt">
                                Способ передвижения
                            </span>
        </div>
    </div>
</section>

<div class="b-box b-box__form-courier">
<div style="margin-bottom: 23px; color: #FF791D;font-size: 16px;">Все поля обязательны для заполнения</div>
<fieldset data-bind="visible : curFolder() == 1">

    <div class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label">ФИО: </label>
        </div>
        <div class="b-contol__col-2">
            <input data-bind="value: fio " class="b-contol__input">
        </div>
    </div>


    <div class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label">E-mail: </label>
        </div>
        <div class="b-contol__col-2">
            <input type="email" data-bind="value: email" class="b-contol__input">
        </div>
    </div>

    <div class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label">Контактный телефон: </label>
        </div>
        <div class="b-contol__col-2">
            <input placeholder="8 ___ ___-__-__" id="phone" type="tel" data-bind="value: phone" class="b-contol__input">
        </div>
    </div>


    <div data-bind="visible:!touch" class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label">Дата рождения: </label>
        </div>
        <div class="b-contol__col-2" style="padding-right: 45px;">
            <button style="float: right; margin-right: -45px;" class="b-button b-button_date"
                    data-bind="click: pff"></button>
            <input
                    data-bind="value: birthday ,
                                    datepicker: birthday ,
                                    datepickerOptions: {
                                        changeMonth: true,
                                        changeYear: 1933 ,
                                        yearRange: '1910:2010',
                                        dateFormat: 'dd/mm/yy',
                                        defaultDate: '28/5/1985'
                                     },
                                    datepickerEvent: { show : datePicker }" placeholder="дд/мм/гг"
                    class="b-contol__input">
        </div>

    </div>

    <div data-bind="visible:touch" class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label">Дата рождения: </label>
        </div>
        <div class="b-contol__col-2">
            <input type="date" data-bind="value: birthday" placeholder="дд/мм/гг" class="b-contol__input">
        </div>
    </div>

    <div class="b-control b-control_type2">
        <div class="b-contol__col-1">
            <label class="b-contol__label" class="">Образование: </label>
        </div>
        <div class="b-contol__col-2">
            <select data-bind='value: education, options: educationValues, optionsCaption: "выберите вариант"'
                    class="b-contol__input">
            </select>
        </div>
    </div>

    <div data-bind="validationOptions: { insertMessages: false}" class="b-control b-control_type2 b-control_type_radio">
        <div class="b-contol__col-1">
            <label class="b-contol__label">Пол: </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="male" name="sex" data-bind="checked: sex" type="radio">
                <span class="b-contol__radio-t">М</span>
            </label>
            <label class="b-contol__radio">
                <input value="famale" name="sex" data-bind="checked: sex" type="radio">
                <span class="b-contol__radio-t">Ж</span>
            </label>
        </div>
        <div class="b-contol__error" data-bind="validationMessage: sex"></div>
    </div>

    <section class="b-cntr-btns">
        <a data-bind="click : next" class="b-button b-button_d_2 b-button_d_n b-cntr-btns__r">Далее</a>
    </section>
</fieldset>

<fieldset data-bind="visible : curFolder() === 2 ">
    <div data-bind="validationOptions: { insertMessages: false}" class="b-control">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Есть ли у вас опыт работы в сфере обслуживания? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="нет" data-bind="checked: experience" name="experience" type="radio">
                <span class="b-contol__radio-t">нет</span>
            </label>
            <label class="b-contol__radio">
                <input value="1-3 года" data-bind="checked: experience" name="experience" type="radio">
                <span class="b-contol__radio-t">1-3 года</span>
            </label>
            <label class="b-contol__radio">
                <input value="3-5 лет" data-bind="checked: experience" name="experience" type="radio">
                <span class="b-contol__radio-t">3-5 лет</span>
            </label>
            <label class="b-contol__radio">
                <input value="более 5 лет" data-bind="checked: experience" name="experience" type="radio">
                <span class="b-contol__radio-t">более 5 лет</span>
            </label>
        </div>
        <div class="b-contol__error" data-bind="validationMessage: experience"></div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Какая операционная система стоит на мобильном устройстве
                или навигаторе, которым вы пользуетесь? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input data-bind="checked:mobOs" name="mobOs" value="Andoid" type="radio">
                <span class="b-contol__radio-t">Andoid</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:mobOs" name="mobOs" value="iPhone" type="radio">
                <span class="b-contol__radio-t">iPhone</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:mobOs" name="mobOs" value="WP" type="radio">
                <span class="b-contol__radio-t">WP</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:mobOs" name="mobOs" value="BlB" type="radio">
                <span class="b-contol__radio-t">BlB  </span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:mobOs" name="mobOs" value="подобная техника отсутствует" type="radio">
                <span class="b-contol__radio-t">подобная техника отсутствует</span>
            </label>

            <div class="b-contol__error" data-bind="validationMessage: mobOs"></div>
        </div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Посылки, какого веса вы готовы доставлять? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input data-bind="checked:weight" name="weight" value="до 1 кг" type="radio">
                <span class="b-contol__radio-t">до 1 кг</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:weight" name="weight" value="3-5 кг" type="radio">
                <span class="b-contol__radio-t">3-5 кг</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:weight" name="weight" value="5-10 кг " type="radio">
                <span class="b-contol__radio-t">5-10 кг </span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:weight" name="weight" value="более 10 кг" type="radio">
                <span class="b-contol__radio-t">более 10 кг</span>
            </label>

            <div class="b-contol__error" data-bind="validationMessage: weight"></div>
        </div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Какие дополнительные услуги вы готовы оказать? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input data-bind="checked:extras" value="подъем на этаж" type="checkbox">
                <span class="b-contol__radio-t">подъем на этаж</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:extras" value="распаковка" type="checkbox">
                <span class="b-contol__radio-t">распаковка</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked:extras" value="сборка мебели" type="checkbox">
                <span class="b-contol__radio-t">сборка мебели</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked: extras " value="не готов" type="checkbox">
                <span class="b-contol__radio-t">не готов</span>
            </label>
        </div>
    </div>

    <section class="b-cntr-btns">
        <a data-bind="visible: curFolder() > 1 ,click : back" class="b-button b-button_d_2 b-button_d_b  b-button b-cntr-btns__l">Назад</a>
        <a data-bind="click : next" class="b-button b-button_d_2 b-button_d_n b-cntr-btns__r">Далее</a>
    </section>
</fieldset>
<fieldset data-bind="visible : curFolder() === 3 ">
    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Сколько часов в день вы сможете уделять работе у нас? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="2 часа" data-bind="checked : hoursInDay" name="hoursInDay" type="radio">
                <span class="b-contol__radio-t">2 часа</span>
            </label>
            <label class="b-contol__radio">
                <input value="2-4 часа" data-bind="checked : hoursInDay" name="hoursInDay" type="radio">
                <span class="b-contol__radio-t"> 2-4 часа</span>
            </label>
            <label class="b-contol__radio">
                <input value="4-6 часов" data-bind="checked : hoursInDay" name="hoursInDay" type="radio">
                <span class="b-contol__radio-t">4-6 часов</span>
            </label>
            <label class="b-contol__radio">
                <input value="6-8 часов" data-bind="checked : hoursInDay" name="hoursInDay" type="radio">
                <span class="b-contol__radio-t">6-8 часов</span>
            </label>
        </div>
        <div class="b-contol__error" data-bind="validationMessage: hoursInDay"></div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Укажите часы, в которые вам удобно заниматься доставкой? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input data-bind="checked : convenientTime" value="0-6" name="convenientTime" type="radio">
                <span class="b-contol__radio-t">0-6 часов</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked : convenientTime"  value="6-12" name="convenientTime" type="radio">
                <span class="b-contol__radio-t">6-12 часов</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked : convenientTime"  value="12-18" name="convenientTime" type="radio">
                <span class="b-contol__radio-t">12-18 часов</span>
            </label>
            <label class="b-contol__radio">
                <input data-bind="checked : convenientTime"  value="18-24" name="convenientTime" type="radio">
                <span class="b-contol__radio-t">18-24 часов</span>
            </label>
        </div>
        <div class="b-contol__error" data-bind="validationMessage: convenientTime"></div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                В какое время вы заняты на основном месте работы (учебы)? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="утро" data-bind="checked : busyTime"  type="checkbox">
                <span class="b-contol__radio-t">утро</span>
            </label>
            <label class="b-contol__radio">
                <input value="день" data-bind="checked : busyTime"  type="checkbox">
                <span class="b-contol__radio-t">день</span>
            </label>
            <label class="b-contol__radio">
                <input value="вечер" data-bind="checked : busyTime"  type="checkbox">
                <span class="b-contol__radio-t">вечер </span>
            </label>
            <label class="b-contol__radio">
                <input value="ночь" data-bind="checked : busyTime"  type="checkbox">
                <span class="b-contol__radio-t">ночь</span>
            </label>
        </div>
        <div class="b-contol__error" data-bind="validationMessage: busyTime"></div>
    </div>

    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                В какие дни недели вы готовы работать? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="понедельник" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">понедельник</span>
            </label>
            <label class="b-contol__radio">
                <input value="вторник" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">вторник</span>
            </label>
            <label class="b-contol__radio">
                <input value="среда" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">среда</span>
            </label>
            <label class="b-contol__radio">
                <input value="четверг" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">четверг</span>
            </label>
            <label class="b-contol__radio">
                <input value="пятница" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">пятница</span>
            </label>
            <label class="b-contol__radio">
                <input value="суббота" data-bind="checked: workingDays" type="checkbox">
                <span class="b-contol__radio-t">суббота</span>
            </label>
            <label class="b-contol__radio">
                <input value="воскресенье" data-bind="checked: workingDays"  type="checkbox">
                <span class="b-contol__radio-t">воскресенье</span>
            </label>
        </div>
    </div>
    <section class="b-cntr-btns">
        <a data-bind="visible: curFolder() > 1 ,click : back" class="b-button b-button_d_2 b-button_d_b  b-button b-cntr-btns__l">Назад</a>
        <a data-bind="click : next" class="b-button b-button_d_2 b-button_d_n b-cntr-btns__r">Далее</a>
    </section>
</fieldset>

<fieldset data-bind="visible : curFolder() === 4 ">
    <div class="b-control" data-bind="validationOptions: { insertMessages: false}">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Есть ли у вас средство передвижения? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="газель" data-bind="checked: vehicle"  type="checkbox">
                <span class="b-contol__radio-t">газель </span>
            </label>
            <label class="b-contol__radio">
                <input value="легковой автомобиль " data-bind="checked: vehicle"  type="checkbox">
                <span class="b-contol__radio-t">легковой автомобиль </span>
            </label>
            <label class="b-contol__radio">
                <input value="велосипед" data-bind="checked: vehicle"  type="checkbox">
                <span class="b-contol__radio-t">велосипед </span>
            </label>
            <label class="b-contol__radio">
                <input value="нет" data-bind="checked: vehicle"  type="checkbox">
                <span class="b-contol__radio-t">нет </span>
            </label>
        </div>
    </div>
    <div class="b-control">
        <div class="b-contol__col-1">
            <label class="b-contol__label">
                Какой у вас стаж вождения? </label>
        </div>
        <div class="b-contol__col-2">
            <label class="b-contol__radio">
                <input value="нет стажа" name="drivingExperience" type="radio">
                <span class="b-contol__radio-t">нет стажа</span>
            </label>
            <label class="b-contol__radio">
                <input value="менее года"  name="drivingExperience" type="radio">
                <span class="b-contol__radio-t">менее года</span>
            </label>
            <label class="b-contol__radio">
                <input value="1-3 года"  name="drivingExperience" type="radio">
                <span class="b-contol__radio-t">1-3 года</span>
            </label>
            <label class="b-contol__radio">
                <input value="3-5 лет" name="drivingExperience" type="radio">
                <span class="b-contol__radio-t">3-5 лет</span>
            </label>
            <label class="b-contol__radio">
                <input value="более 5 лет" name="drivingExperience" type="radio">
                <span class="b-contol__radio-t">более 5 лет</span>
            </label>
        </div>
    </div>

    <section class="b-cntr-btns">
        <a data-bind="visible: curFolder() > 1 ,click : back" class="b-button b-button_d_2 b-button_d_b  b-button b-cntr-btns__l">Назад</a>
        <a data-bind="click : next" class="b-button b-button_d_2  b-cntr-btns__r">Отправить Анкету</a>
    </section>
</fieldset>
<fieldset data-bind="visible : curFolder() === 5 ">
    <div class="b-text">
        <h2 class="b-text__h">Анкета успешно отправлена!</h2>

        <p class="b-text__p">
            В ближайшие дни менеджер Deliv.me свяжется с вами по телефону и предложит подъехать в офис для подписания
            договора подряда, для которого от вас потребуется копия паспорта.
        </p>

        <p class="b-text__p">
            После проверки благонадежности, в случае положительного решения в crm, менеджер Deliv.me заводит вас в
            систему службы курьерской доставки в Екатеринбурге. И вам приходит sms и письмо на e-mail c кодом
            авторизации и ссылка на приложение Deliv.me.

        </p>
    </div>
    <section class="b-cntr-btns">
        <a href="index.html" class="b-button b-cntr-btns__r">Продолжить</a>
    </section>
</fieldset>


</div>
</div>


</div>

</div>
{{> footer}}
</div>
{{>counters}}

</body>
</html>

