<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}

</head>
<body class="b-body">


<div class="b-page">
    <div class="b-page__wrap">
       {{> header }}
        <div class="b-wrapper">
            <div class="b-content">
                <h2 class="b-title b-title_1">Круглосуточная доставка за 2 часа!</h2>
                <section class="b-promo-box">
                    <div class="b-promo-box__col">
                        <a class="b-promo-box__lnk" href="client.html">
                        <span class="b-promo-box__img">

                        </span>
                        <span class="b-promo-box__h">
                            Комплексное решение
                             <span class="b-promo-box__h-i">службам доставки</span>
                        </span>
                        </a>

                        <div class="b-promo-box__txt">
                            <div class="b-promo-box__content">
                                Используйте готовое решение 
                                для автоматизации работы с&nbsp;клиентами и&nbsp;курьерами.
                                Теперь вы&nbsp;сможете развивать свой бизнес без лишних вложений.
                            </div>
                            <div class="b-promo-box__more">
                                <a class="b-promo-box__more-a" href="client.html">Узнать больше</a>
                            </div>
                            <div>
                                <a class="b-button" href="client-form.html">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-promo-box__col">
                        <a class="b-promo-box__lnk" href="courier.html">
                        <span class="b-promo-box__img b-promo-box__img_3">

                        </span>
                        <span class="b-promo-box__h">
                            Предлагаем
                             <span class="b-promo-box__h-i">стать курьером</span>
                        </span>
                        </a>

                        <div class="b-promo-box__txt">
                            <div class="b-promo-box__content">
                                Мы предлагаем стать курьерами службы Deliv.me вам – энергичным и ответственным людям,
                                заинтересованным в
                                дополнительном заработке от 3000 до 30 000 рублей!
                            </div>
                            <div class="b-promo-box__more">
                                <a class="b-promo-box__more-a" href="">Узнать больше</a>
                            </div>
                            <div>
                                <a class="b-button" href="courier-form.html">Заполнить анкету</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-promo-box__col">
                        <a class="b-promo-box__lnk" href="buyer.html">
                        <span class="b-promo-box__img b-promo-box__img_2">

                        </span>
                        <span class="b-promo-box__h">
                            Условия доставки
                             <span class="b-promo-box__h-i">для покупателей</span>
                        </span>
                        </a>

                        <div class="b-promo-box__txt">
                            <div class="b-promo-box__content">
                                Служба доставки Deliv.me – современный сервис, для тех, кто часто делает покупки в
                                Интернете.
                                Все больше людей выбирают Deliv.me, потому что это...
                            </div>
                            <div class="b-promo-box__more">
                                <a class="b-promo-box__more-a" href="buyer.html">Узнать больше</a>
                            </div>
                            <div>
                                <a class="b-button" href="buyer-form.html">Узнать статус заказа</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>
    {{> footer}}
</div>



{{>counters}}
</body>
</html>

