<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body>


<div class="b-page">
<div class="b-page__wrap">

<header class="b-header">
    <div class="b-wrapper b-wrapper_header b-header__wrap">

        <a class="b-logo" href="/">LoveLess Foundation</a>

        <div class="b-header__slog">Служба курьерской доставки</div>
    </div>
</header>
<div class="b-banner"></div>
<div class="b-wrapper">
<div class="b-content">

<section class="b-promo-box">
    <div class="b-promo-box__col">
        <a class="b-promo-box__lnk" href="">
                        <span class="b-promo-box__img">

                        </span>
                        <span class="b-promo-box__h">
                            Условия доставки
                             <span class="b-promo-box__h-i">для магазинов</span>
                        </span>
        </a>

        <div class="b-promo-box__txt">
            <div class="b-promo-box__content">
                Инновационное решение, которое
                поможет вам оптимизировать расходы.
                Вы продолжаете вести и развивать свой бизнес, а вопросы
                доставки товаров мы берем на себя.
            </div>
            <div class="b-promo-box__more">
                <a class="b-promo-box__more-a" href="">Узнать больше</a>
            </div>
            <div>
                <a class="b-button" href="">Оставить заявку</a>
            </div>
        </div>
    </div>
    <div class="b-promo-box__col">
        <a class="b-promo-box__lnk" href="">
                        <span class="b-promo-box__img">

                        </span>
                        <span class="b-promo-box__h">
                            Предлагаем
                             <span class="b-promo-box__h-i">стать курьером</span>
                        </span>
        </a>

        <div class="b-promo-box__txt">
            <div class="b-promo-box__content">
                Мы предлагаем стать курьерами службы Deliv.me вам – энергичным и ответственным людям, заинтересованным в
                дополнительном заработке от 3000 до 30 000 рублей!
            </div>
            <div class="b-promo-box__more">
                <a class="b-promo-box__more-a" href="">Узнать больше</a>
            </div>
            <div>
                <a class="b-button" href="">Заполнить анкету</a>
            </div>
        </div>
    </div>
    <div class="b-promo-box__col">
        <a class="b-promo-box__lnk" href="">
                        <span class="b-promo-box__img">

                        </span>
                        <span class="b-promo-box__h">
                            Условия доставки
                             <span class="b-promo-box__h-i">для магазинов</span>
                        </span>
        </a>

        <div class="b-promo-box__txt">
            <div class="b-promo-box__content">
                Служба доставки Deliv.me – современный сервис, для тех, кто часто делает покупки в Интернете.
                Все больше людей выбирают Deliv.me, потому что это...
            </div>
            <div class="b-promo-box__more">
                <a class="b-promo-box__more-a" href="">Узнать больше</a>
            </div>
            <div>
                <a class="b-button" href="">Узнать статус заказа</a>
            </div>
        </div>
    </div>
</section>

<section class="b-cnt">
    <div class="b-cnt__el b-cnt__el_1">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Возможность совмещения</h3>

            <p class="b-cnt__el-p">
                Школьник или студент, таксист или курьер, домохозяйка или пенсионер, наше предложение
                адресовано вам! Проявите практичность и используйте возможность заработать! Сотрудничество с
                нами легко совмещать с учебой или с основной работой.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_2">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Неограниченный доход</h3>

            <p class="b-cnt__el-p">Вы планируйте сами, сколько времени хотите потратить на работу и сколько за это
                получить. Мы предоставляем возможность заработать от 3 000 до 30 000 рублей на любые потребности – от
                телефона до квартиры.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_3">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Работа рядом с домом</h3>

            <p class="b-cnt__el-p">
                Вы существенно экономите деньги на проезд, так как мы предлагаем вам доставлять только те заказы,
                которые вас ждут неподалеку.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_4">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Посильная нагрузка</h3>

            <p class="b-cnt__el-p">
                Только вы определяете вес того, что будете доставлять. Если у вас есть права и личный автомобиль, то у
                вас есть возможность зарабатывать сразу много. Если нет, то пара- тройка доставок заказов из интернет-
                магазинов принесет вам, в итоге, ту же сумму.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_5">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Удобные часы работы</h3>

            <p class="b-cnt__el-p">
                Мы уважаем ваши биоритмы. Мы не переучиваем сов в жаворонков, и наоборот. Время работы тоже выбираете
                вы! Сова? Развозите ночью пиццу. Жаворонок – работайте днем. Предложений и вариантов масса!
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_6">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Возможность зарабатывать больше!
            </h3>

            <p class="b-cnt__el-p">
                Хотите получать больше? Зарабатывайте рейтинг! Будьте исполнительными и пунктуальными. Схема проста: чем
                выше рейтинг, тем дороже час!
            </p>
        </div>
    </div>
</section>

<section style="margin-bottom:  40px">
    <div>
        Почему Deliv.me?
    </div>
    <p>
        Deliv.me – это инновационное решение, которое поможет вам оптимизировать расходы.
        Вы продолжаете вести и развивать свой бизнес,
        а все вопросы доставки ваших товаров мы берем на себя.
    </p>
</section>

<section class="b-cnt">
    <div class="b-cnt__el b-cnt__el_7">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Готовое решение</h3>

            <p class="b-cnt__el-p">
                Мы предлагаем готовую систему, которая интегрируется в корзину на вашем ресурсе. Вам не нужно
                тратить время и деньги на разработку собственного решения.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_8">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Удобство для покупателей</h3>

            <p class="b-cnt__el-p">
                Простой интерфейс системы Deliv.me будет понятен каждому пользователю и не вызовет затруднений при
                оформлении доставки в вашем интернет-магазине.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_9">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Экономия</h3>

            <p class="b-cnt__el-p">
                Вам не нужно держать штатного курьера и платить ему оклад. Сдельная форма сотрудничества позволит
                оптимизировать затраты.
            </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_10">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Охват</h3>

            <p class="b-cnt__el-p">Мы расширяем ваши границы торговли! В любом из районов города у нас есть несколько
                курьеров, готовых выполнить заказ.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_11">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Мобильность</h3>

            <p class="b-cnt__el-p">Сотрудники курьерской службы Deliv.me всегда рядом и смогут быстро забрать и
                доставить заказ вашим покупателям.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_12">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Клиентоориентированность</h3>

            <p class="b-cnt__el-p">Мы работаем с 0.00 до 24.00 и готовы выполнить доставку в любое время.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_13">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Контроль</h3>

            <p class="b-cnt__el-p">Вы всегда можете посмотреть, где находится наш курьер и когда ваш клиент получит свой
                заказ.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_14">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Уверенность в исполнителе</h3>

            <p class="b-cnt__el-p">У нас нет случайных сотрудников – все кандидаты прошли очное собеседование и
                отправляются на доставку, имея при себе документ, удостоверяющий личность. </p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_15">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Гарантии</h3>

            <p class="b-cnt__el-p">В конфликтных ситуациях мы берет на себя обязательства по разрешению споров. В случае
                непредвиденных обстоятельств гарантируем возврат стоимости страховым депозитом.</p>
        </div>
    </div>
    <div class="b-cnt__el b-cnt__el_16">
        <div class="b-cnt__el-arrw"></div>
        <div class="b-cnt__el-inner">
            <h3 class="b-cnt__el-h">Дополнительные услуги</h3>

            <p class="b-cnt__el-p">Кроме доставки мы готовы предложить услуги по подъему груза, распаковке и сбору.</p>
        </div>
    </div>
</section>

<section class="b-terms">
    <div class="b-terms__term">
        <div class="b-terms__num">1</div>
        <div class="b-terms__how">Легко!</div>
        <div class="b-terms__txt">
            Процедура оформления доставки в системе Deliv.me займет у вас
            пару минут.
        </div>
    </div>
    <div class="b-terms__term">
        <div class="b-terms__num">2</div>
        <div class="b-terms__how">Быстро!</div>
        <div class="b-terms__txt">
            Процедура оформления доставки в системе Deliv.me займет у вас
            пару минут.
        </div>
    </div>
    <div class="b-terms__term">
        <div class="b-terms__num">3</div>
        <div class="b-terms__how">Удобно!</div>
        <div class="b-terms__txt">
            Процедура оформления доставки в системе Deliv.me займет у вас
            пару минут.
        </div>
    </div>
    <div class="b-terms__term">
        <div class="b-terms__num">4</div>
        <div class="b-terms__how">Надежно!</div>
        <div class="b-terms__txt">
            Процедура оформления доставки в системе Deliv.me займет у вас
            пару минут.
        </div>
    </div>
    <div class="b-terms__term">
        <div class="b-terms__num">5</div>
        <div class="b-terms__how">Все и сразу!</div>
        <div class="b-terms__txt">
            Процедура оформления доставки в системе Deliv.me займет у вас
            пару минут.
        </div>
    </div>
</section>
<h2>конитролы</h2>
<section>
    <h2 class="b-title">Заявка на подключение системы <span class="b-title__i">Deliv.me</span></h2>

    <div class="b-box b-box__form">
        <form method="post">
            <div class="b-control">
                <div class="b-contol__col-1">
                    <label class="b-contol__label" class="">ФИО: *</label>
                </div>
                <div class="b-contol__col-2">
                    <input class="b-contol__input">
                </div>
            </div>
            <div class="b-control">
                <div class="b-contol__col-1">
                    <label class="b-contol__label" class="">E-mail: *</label>
                </div>
                <div class="b-contol__col-2">
                    <input class="b-contol__input">
                </div>
            </div>
            <div class="b-control">
                <div class="b-contol__col-1">
                    <label class="b-contol__label" class="">Телефон: *</label>
                </div>
                <div class="b-contol__col-2">
                    <input class="b-contol__input">
                </div>
            </div>
            <div class="b-control">
                <div class="b-contol__col-1">
                    <label class="b-contol__label" class="">Укажите время, когда вам можно позвонить:</label>
                </div>
                <div class="b-contol__col-2">
                    <select multiple="multiple" class="b-contol__select-multiple">
                        <option>00:00 – 01:00</option>
                        <option>01:00 – 02:00</option>
                        <option>02:00 – 03:00</option>
                        <option>03:00 – 04:00</option>
                        <option>04:00 – 05:00</option>
                        <option>05:00 – 06:00</option>
                        <option>06:00 – 07:00</option>
                        <option>07:00 – 08:00</option>
                        <option>08:00 – 09:00</option>
                        <option>09:00 – 10:00</option>
                        <option>10:00 – 11:00</option>
                        <option>11:00 – 12:00</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</section>

<section>
    <h2 class="b-title">Заполните анкету</h2>

    <div class="b-contol">
        <label class="b-contol__label" class="">ФИО: *</label>
        <input class="b-contol__input">
    </div>
</section>

</div>

</div>

<section class="b-apps">
    <div class="b-apps__inner b-wrapper">
        <div class="b-apps__phone"></div>
        <div class="b-apps__txt">
            <h3>Процесс работы</h3>
            <ol>
                <li>Выбираете заказ</li>
                <li>Доставляете его</li>
                <li>Получаете 200 руб. за заказ</li>
            </ol>
        </div>
    </div>
</section>
<section class="b-info">
    <div class="b-wrapper">
        <div class="b-info__col">
            <h3 class="b-info__h">Условия работы</h3>
            <ul class="b-info__list">
                <li>Вы доставляете заказы.</li>
                <li>Готовы уделять работе у нас не менее 2 часов в день.</li>
                <li>Бережно относитесь к товару и укладываетесь в сроки доставки.</li>
                <li>Вы вежливы, улыбчивы и получаете удовольствие от работы.</li>
                <li>Клиенты довольны и мы достойно оплачиваем ваш труд.</li>
            </ul>
        </div>
        <div class="b-info__col">
            <h3 class="b-info__h">схема работы</h3>
            <ul class="b-info__list">
                <li>Вы доставляете заказы.</li>
                <li>Готовы уделять работе у нас не менее 2 часов в день.</li>
                <li>Бережно относитесь к товару и укладываетесь в сроки доставки.</li>
                <li>Вы вежливы, улыбчивы и получаете удовольствие от работы.</li>
                <li>Клиенты довольны и мы достойно оплачиваем ваш труд.</li>
            </ul>
        </div>
    </div>
</section>


</div>
<footer class="b-footer">
    <div class="b-wrapper">
        <div class="b-footer__col-1">
            © 2013 «Deliv.me» – служба курьерской доставки из магазинов Екатеринбурга
            У вас возникли вопросы? Напишите нам!
        </div>
        <div class="b-footer__col-2">
            Сайт разработан
            компанией JetStyle
        </div>
    </div>
</footer>
</div>


<script src="publish/script.js"></script>
{{>counters}}
</body>
</html>

