<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{>head-part}}
</head>
<body style="background: #ffffff">


<div  class="b-page">
    <div class="b-page__wrap">
        {{> header }}
        <div class="b-wrapper" >
            <div class="b-content">
                <div class="b-text b-text_type_privacy">
                    <h1>Политика приватности (конфиденциальности)</h1>
                    <ol>
                        <li>Любая информация, переданная Сторонами друг другу при пользовании ресурсами мобильного
                            приложения, является конфиденциальной информацией.
                        </li>
                        <li>Пользователь дает разрешение Разработчику мобильного приложения на&nbsp;сбор, обработку и&nbsp;хранение
                            своих личных персональных данных, а&nbsp;также на&nbsp;рассылку текстовой и&nbsp;графической
                            информации рекламного характера.
                        </li>
                        <li>Стороны обязуются соблюдать данное соглашение, регламентирующее правоотношения связанные с&nbsp;установлением,
                            изменением и&nbsp;прекращением режима конфиденциальности в&nbsp;отношении личной информации
                            Сторон и&nbsp;не&nbsp;разглашать конфиденциальную информацию третьим лицам.
                        </li>
                        <li>Разработчк мобильного приложения собирает два вида информации о&nbsp;Пользователе:
                            <ul>
                                <li>персональную информацию, которую Пользователь сознательно раскрыл Разработчику
                                    мобильного приложения в&nbsp;целях пользования ресурсами мобильного приложения;
                                </li>
                                <li>техническую информацию, автоматически собираемую программным обеспечением мобильного
                                    приложения во&nbsp;время его посещения. Во&nbsp;время использования мобильного
                                    приложения службе поддержки автоматически становится доступной информация из&nbsp;стандартных
                                    журналов регистрации сервера. Сюда входит IP-адрес компьютера Пользователя (или
                                    прокси-сервера, если он&nbsp;используется для выхода в&nbsp;интернет),
                                    имяинтернет-провайдера, имя домена, тип браузера и&nbsp;операционной системы, с&nbsp;которой
                                    Пользователь совершил переход на&nbsp;мобильное приложение, страницах мобильного
                                    приложения, которые посещает Пользователь, дате и&nbsp;времени этих посещений,
                                    файлах, которые Пользователь загружает. Эта информация анализируется программно в&nbsp;агрегированном
                                    (обезличенном) виде для анализа посещаемости мобильного приложения, и&nbsp;используется
                                    при разработке предложений по&nbsp;его улучшению и&nbsp;развитию. Связь между
                                    IP-адресом и&nbsp;персональной информацией Пользователя никогда не&nbsp;раскрывается
                                    третьим лицам, за&nbsp;исключением тех случаев, когда это требуется законодательство
                                    страны, резидентом которой является Пользователь.
                                </li>
                            </ul>
                        </li>
                        <li>Разработчик мобильного приложения очень серьезно относится к&nbsp;защите персональных данных
                            Пользователя и&nbsp;никогда не&nbsp;предоставляет персональную информацию Пользователя кому&nbsp;бы
                            то&nbsp;ни&nbsp;было, кроме случаев, когда этого прямо требует уполномоченный
                            государственный орган (например, по&nbsp;письменному запросу суда). Вся персональная
                            информация Пользователя используются для связи с&nbsp;ним, для анализа посещаемости
                            мобильного приложения, для разработки предложений по&nbsp;его улучшению и&nbsp;развитию и&nbsp;может
                            быть раскрыта иным третьим лицам только с&nbsp;его разрешения.
                        </li>
                        <li>Разработчик мобильного приложения осуществляет защиту персональной информации Пользователя,
                            применяя общепринятые методы безопасности для обеспечения защиты информации от&nbsp;потери,
                            искажения и&nbsp;несанкционированного распространения. Безопасность реализуется программными
                            средствами сетевой защиты, процедурами проверки доступа, применением криптографических
                            средств защиты информации, соблюдением политики конфиденциальности.
                        </li>
                        <li>Изменение Соглашения о&nbsp;конфиденциальности. Применимое законодательство
                            <ul>
                                <li>Приложение имеет право вносить изменения в&nbsp;настоящее Соглашение о&nbsp;конфиденциальности
                                    без предварительного уведомления Пользователей. Новая редакция Соглашения вступает в&nbsp;силу
                                    с&nbsp;момента ее&nbsp;размещения, если иное не&nbsp;предусмотрено новой редакцией
                                    Соглашения. Действующая редакция всегда находится на&nbsp;странице по&nbsp;адресу
                                    <a href="http://deliv.me/privacy.html">http://deliv.me/privacy.html</a>.
                                </li>
                                <li>К&nbsp;настоящему Соглашению и&nbsp;отношениям между Пользователем и&nbsp;Мобильным
                                    приложением, возникающим в&nbsp;связи с&nbsp;применением Соглашения о&nbsp;конфиденциальности,
                                    подлежит применение права Российской Федерации.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>

        </div>

    </div>
    {{> footer}}
</div>


<script src="publish/script.js"></script>
{{>counters}}
</body>
</html>

