.b-to-top {
  position: fixed;
  bottom: 135px;
  right: 2em;
  text-decoration: none;
  color: white;
  background-image: url('@{blockPath}/i-img/b-to-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #20558a;
  font-size: 12px;
  display: none;
  overflow: hidden;
  text-indent: -9999999px;
  width: 33px;
  height: 33px;
  .border-radius(17px 16px 16px 17px);
  background-color: #ff791d;
  .box-shadow(1px 3px #bbb);
  cursor: pointer;
}

.b-to-top:hover {
  background-color: #de5b01;
}