<footer class="b-footer">
    <div class="b-wrapper b-footer__inner">
        <div class="b-footer__col-2">
            <div class="b-jet">
                <a class="b-jet__logo" href="http://www.jetstyle.ru/">
                    Jetstyle
                </a>
                <a class="b-jet__txt" href="http://www.jetstyle.ru/">
                    Cайт разработан компанией JetStyle
                </a>
            </div>
        </div>
        <div class="b-footer__col-1">
           <p class="b-footer__box-1"> © 2013 «Deliv.me» – служба курьерской доставки из магазинов Екатеринбурга</p>
           <p> У вас возникли вопросы? <a class="b-footer__lnk" href="contact-us.html">Напишите нам!</a></p>
        </div>

    </div>
</footer>

<div class="b-to-top"></div>