<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="{{stylePath}}/style.css">
<script src="{{jsPath}}/lib/modernizr-2.6.2.min.js"></script>
<script src="{{stylePath}}/script.js"></script>