<header class="b-header">
    <div class="b-wrapper b-wrapper_header b-header__wrap">

        <a class="b-logo" href="/">LoveLess Foundation</a>

        <div class="b-header__slog">Служба курьерской доставки</div>
    </div>
</header>