/*---| .b-jet |----------------------start----------------------------------------*/

.b-jet {
  display: block;
  font-size: 12px;
}

.b-jet__logo,
.b-jet__logo:visited {
  display: block;
  width: 66px;
  height: 31px;
  background: url("@{blockPath}/i-img/jet-logo.png") no-repeat 0 -49px;
  overflow: hidden;
  text-indent: -999999px;
  float: left;
}

.b-jet__txt,
.b-jet__txt:visited {

  color: #afafaf;
  line-height: 19px;
  overflow: hidden;
  display: block;
}


.b-jet:hover .b-jet__logo {
  background-position: 0 0;
}

.b-jet:hover .b-jet__txt {
  color: #000000;
}

/*===| .b-jet |======================end==========================================*/