/*---| b-text |----------------------------------------------------------------*/

.b-text {
  margin-bottom: 33px;
  text-align: center;
  color: #6f706b;
  font-size: 16px;
  line-height: 1.3125;
}

.b-text__h {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;

}

.b-text__u {
  text-transform: uppercase;
}

.b-text__c {
  color: #de5b01;
}

.b-text__p {
  margin: 0;
  margin-bottom: 1em;
}

.b-text__title {
  color: #de5b01;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 29px;
}

.b-text__h1 {}

.b-text__h2 {}

.b-text__h3 {}

.b-text__ul {}

.b-text__ul-li {}

.b-text__ol {}

.b-text__ol-li {}

.b-text__blockquote  {}


.b-text__table  {
  width: 100%;
}

.b-text__table th {
  text-align: left;
}

.b-text__table td  {
  border: 1px solid #222222;
  padding: 5px;
}

.b-text__img  {
  max-width: 100%;
}

/*===| b-text |=================================================================*/

/*---| b-text_why |----------------------start----------------------------------------*/

.b-text_why {
  margin-top: -12px;
}
.b-text_type_privacy {
  text-align: left;
  a {color: #de5b01;}
  h1, h2, h3, h4, h5 {
    text-align: left;
  }
  ul {
    list-style: none;
  }
  ul>li:before {
    content: '\2014\a0';
    float: left;
    margin-left: -1.25em;
  }
  li {
    margin-bottom: 1em;
  }
  ol, ul {
    padding-left: 1.5em;
  }
}


/*===| b-text_why |======================end==========================================*/