/*---| .b-footer |----------------------start----------------------------------------*/
@height : 87px;

.b-footer {
  background: url("@{blockPath}/i-img/b-footer__pattern.png");
  height: @height;
//  margin-top: -@height;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.b-footer__inner {
  margin-top: 29px;
}

.b-footer__col-1 {
  overflow: hidden;
  font-size: 12px;
}

.b-footer__col-2 {
  float: right;
  width: 180px;
}

.b-footer__lnk,
.b-footer__lnk:visited {
  color: #de5b01;
  white-space: nowrap;
}

/*===| .b-footer |======================end==========================================*/