/*---| .b-button |----------------------start----------------------------------------*/

.b-button,
.b-button:visited  {
  .reset();
  height: 47px;
  line-height: 47px;
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  .box-shadow(1px 1px #bbb);
  .border-radius(5px);
  background: #ff791d;
  padding: 0 22px;
  font-family: @Roboto;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  .transition( all  0.3s  ease );
  cursor: pointer;
}



/*===| .b-button |======================end==========================================*/

.b-button:hover {
  background-color: #de5b01;
  color: #ffffff;
}

.b-button:active {
  .transform(translateY(3px));
}

.b-button_date {
  padding: 0;
  width: 35px;
  height: 35px;
  background-image: url("@{blockPath}/i-img/calendar.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.b-button_d_2,
.b-button_d_2:visited,
.b-button_d_2:hover {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}

.b-button_d_n,
.b-button_d_n:visited {
  padding-right: 47px;
  background-image: url("@{blockPath}/i-img/next.png");
  background-position: 91px center;
  background-repeat: no-repeat;
}

.b-button_d_b,
.b-button_d_b:visited {
  padding-left: 47px;
  color: #bebebe;
  background-color: #ffffff;
  background-image: url("@{blockPath}/i-img/back.png");
  background-position: 22px center;
  background-repeat: no-repeat;
}


