/*---| .b-cnt__el |----------------------start----------------------------------------*/

.b-cnt {
  .clearFix();

}

.b-cnt__el {
  background: #e9ece4;
  margin-bottom: 20px;
  float: left;
  width: 460px;
  background: url("@{blockPath}/i-img/b-footer__pattern.png");
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  height: 192px;
}

.b-cnt__el:nth-child(2n) {
  margin-right: 0;
}

.b-cnt__el-arrw {
  width: 60px;
  background: #ff791d;
  height: 100%;
  position: absolute;

}

.b-cnt__el-arrw:after {
  content: '';
  background-repeat: no-repeat;
  background-image: url("@{blockPath}/i-img/cnt-icon-1.png");
  background-position: top center;
  position: absolute;
  width: 56px;
  height: 50px;
  top: 76px;
  left: 14px;
}

.b-cnt__el-arrw:before {
  content: '';
  background: url("@{blockPath}/i-img/_b-cnt-arrow.png") no-repeat center left;
  left: 100%;
  position: absolute;
  width: 34px;
  background-size: cover;
  height: 100%;
}

.b-cnt__el-inner {
  padding-left: 118px;
  padding-top: 26px;
  padding-right: 23px;
}

.b-cnt__el-h {
  color: #de5b01;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.b-cnt__el-p {
  color: #414141;
  font-size: 14px;
  line-height: 20px;
}

.b-cnt__el_1 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/1.png");
}

.b-cnt__el_2 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/2.png");
}

.b-cnt__el_3 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/3.png");
}

.b-cnt__el_4 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/4.png");
}

.b-cnt__el_5 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/5.png");
}

.b-cnt__el_6 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/6.png");
}

.b-cnt__el_7 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/7.png");
}

.b-cnt__el_8 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/8.png");
}

.b-cnt__el_9 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/9.png");
}

.b-cnt__el_10 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/10.png");
}

.b-cnt__el_11 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/11.png");
}

.b-cnt__el_12 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/12.png");
}

.b-cnt__el_13 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/13.png");
}

.b-cnt__el_14 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/14.png");
}

.b-cnt__el_15 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/15.png");
}

.b-cnt__el_16 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/16.png");
}
.b-cnt__el_17 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/17.png");
}
.b-cnt__el_18 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/18.png");
}
.b-cnt__el_19 .b-cnt__el-arrw:after {
  background-image: url("@{blockPath}/i-img/cnt-icons/19.png");
}

/*===| .b-cnt__el |======================end==========================================*/

/*---| .b-cnt_client |----------------------start----------------------------------------*/

.b-cnt_client {

}

.b-cnt_client .b-cnt__el {
  height: 152px;
}

.b-cnt_client .b-cnt__el-arrw:before {
  background: url("@{blockPath}/i-img/_b-cnt-arrow2.png") no-repeat center left;
}

.b-cnt_client .b-cnt__el-arrw:after {
  top: 57px;
}

/*===| .b-cnt_client |======================end==========================================*/