/*---| .b-box |----------------------start----------------------------------------*/

.b-box {
  .clearFix();
}

.b-box_submit {
  margin-top: 40px;
}


.b-box__form {
  width: 474px;
  margin: 0 auto;
}

.b-box__form-courier {
  width: 675px;
  margin: 0 auto;
}